body{
    background-color: #22372B;
    font-family: "Courier New";
    text-align: center;
    padding: 5%;
}

.ascii-art_title {    
    white-space: pre;
    font-family: monospace;
    font-size: 3pt;
    color: #B58500
}

.ascii-art_separator{
    white-space:pre;
    font-family: monospace;
    font-size: small;
    color:#5E6738
}

.ascii-art_logo{
    white-space:pre;
    font-family: monospace;
    font-size: 1pt;
    color:#5E6738
}

#intro{
    color: #D3BC8D
}

#location{
    white-space: pre;
    font-family: 'Courier New';
    font-weight: bold;
    font-size: 14pt;
    color: #B58500;
}

#disclaimer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-justify: inter-word;
    width: 300px;
    color: #DA291C;
}

#item_link{
    font-family: 'Courier New';
    font-weight: bold;
    font-size: 14pt;
    color: #5E6738;
}

#item_title{
    font-family: 'Courier New';
    font-weight: bold;
    font-size: 14pt;
    color: #5E6738;
}

#item_body{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    text-justify: inter-word;
    width: 300px;
    color: #D3BC8D
}

#guide{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    text-justify: inter-word;
    width: 300px;
    color: #804f2e
}

#signature{
    color:#5E6738
}

#href {
    color: #5E6738;
    text-decoration: none;
}