body{
    background-color: #22372B;
    font-family: "Courier New";
    text-align: center;
    padding: 8%;
}

.ascii-art_title {    
    white-space: pre;
    font-family: monospace;
    font-size: 3pt;
    color: #B58500
}

#intro{
    color: #f4e1be
}

#disclaimer {
  color: red;
}


#item_title{
    font-size: 14pt;
    color: #8B4720
}

#item_body{
    color: #f4e1be
}


#signature{
    color:#f4e1be
}

#href {
    color: #f4e1be;
    text-decoration: none;
}


brown color: 63361fff
gold color: f4c776ff
green color: 00674cff


