body{
    background-color: #22372B;
    font-family: "Courier New";
    text-align: center;
    padding: 5%;
}

.ascii-art_title {    
    white-space: pre;
    font-family: monospace;
    font-size: 3pt;
    color: #B58500
}

.ascii-art_separator{
    white-space:pre;
    font-family: monospace;
    font-size: small;
    color:#8B4720
}

.ascii-art_logo{
    white-space:pre;
    font-family: monospace;
    font-size: 1pt;
    color:#8B4720
}

#intro{
    color: #D3BC8D
}

#disclaimer {
  color: #DA291C;
}

#item_link{
    font-family: 'Courier New';
    font-weight: bold;
    font-size: 14pt;
    color: #5E6738;
}

#item_title{
    font-family: 'Courier New';
    font-weight: bold;
    font-size: 14pt;
    color: #5E6738;
}

#item_body{
    color: #D3BC8D
}

#signature{
    color:#8B4720
}

#href {
    color: #8B4720;
    text-decoration: none;
}